<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auto Testing Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <!-- header-area -->
    {{>header}}
    <!-- header-area-end -->
    <div class="container">
        <div class="row">
            <div class="col-10">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã kiểm thử</th>
                        <th scope="col">Mục đích kiểm thử</th>
                        <th scope="col">Kết quả mong muốn</th>
                        <th scope="col">Kết quả thực tế</th>
                        <th scope="col">Kết quả test</th>
                        <th scope="col">Hình ảnh lỗi</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Hành Động</th>
                    </tr>
                    </thead>

                    {{#each testcases}}
                    <tbody>
                    <tr>
                        <th scope="row">{{numberPos}}</th>
                        <td>{{testcaseID}}</td>
                        <td>{{testingScope}}</td>
                        <td>{{expectedResult}}</td>
                        <td>{{receivedResult}}</td>
                        <td class=".text-danger" >{{testResult}}</td>
                        <td></td>
                        <td>{{status}}</td>
                        <td>
                            <div class="col-3">
                                <div class="btn-group-vertical justify-content-between" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-primary p-20" id="loginTesting">Test Login</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>

        </div>
        <div class="col-2">
            <div class="btn-group-vertical justify-content-between" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary p-20" id="querryTesting">Querry DB</button>
            </div>
        </div>
    </div>


    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
</body>

</html>